<h2>List of open games</h2>
<div class="form-group" style="text-align: right; width: 600px;"><button type="button" class="btn btn-success" ng-click="create()">Create Game</button></div>
<table class="table table-hover table-striped" style="width: 600px">
 <thead>
  <tr>
   <th>PlayerX</th>
   <th>Created</th>
   <th>GameId</th>
   <th></td>
  </tr>
 </thead>
 <tbody>
  <tr ng-repeat="game in gameList">
   <td>{{game.Users.X.Name}}</td>
   <td>{{game.Created | date:"medium"}}</td>
   <td width="200"><div style="white-space: nowrap; overflow: hidden; width: 200px;text-overflow: ellipsis;">{{game.Id}}</div></td>
   <td><button type="button" class="btn btn-primary" ng-click="join(game)">Join</button></td>
  </tr>
 </tbody>
</table>
